/ {
    compatible = "zmk,keyboard";

    chosen {
        zmk,kscan = &kscan;
    };

    kscan: kscan {
        compatible = "zmk,kscan-mock";
        rows = <1>;
        columns = <1>;
    };

    zmk,usb {
        compatible = "zmk,usb";
        status = "okay";
    };

    bt_central: bt_central {
        compatible = "zmk,bluetooth";
        local-name = "LoPro Cosmos 3";
    };
};





