  /*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "lopro_cosmos.dtsi"

&{/} {
    chosen {
        zmk,matrix_transform = &right_transform;
    };

    right_transform: keymap_transform_right {
        compatible = "zmk,matrix-transform";
        columns = <12>;
        rows = <6>;
        col-offset = <6>;
    };
};

&kscan0 {
    col-gpios =
      <&pro_micro 19 GPIO_ACTIVE_HIGH>,
      <&pro_micro 18 GPIO_ACTIVE_HIGH>,
      <&pro_micro 15 GPIO_ACTIVE_HIGH>,
      <&pro_micro 14 GPIO_ACTIVE_HIGH>,
      <&pro_micro 16 GPIO_ACTIVE_HIGH>, 
      <&pro_micro 10 GPIO_ACTIVE_HIGH>;
};
