#include "ghidorah.dtsi"

/ {
    pinctrl {
        i2c0_ghidorah_default: i2c0_ghidorah_default {
            group1 {
                psels = <
                    NRF_PSEL(TWIM_SDA, 0, 17) /* D2 */
                    NRF_PSEL(TWIM_SCL, 0, 20) /* D3 */
                >;
            };
        };

        i2c0_ghidorah_sleep: i2c0_ghidorah_sleep {
            group1 {
                psels = <
                    NRF_PSEL(TWIM_SDA, 0, 17)
                    NRF_PSEL(TWIM_SCL, 0, 20)
                >;
                low-power-enable;
            };
        };
    };
};

&i2c0 {
    status = "okay";
    pinctrl-0 = <&i2c0_ghidorah_default>;
    pinctrl-1 = <&i2c0_ghidorah_sleep>;
    pinctrl-names = "default", "sleep";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        multiplex-ratio = <31>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        status = "okay";
    };
};

&{/chosen} {
    zephyr,display = &oled;
};


/* Matrix stays untouched */
&kscan0 {
    col-gpios =
        <&pro_micro 10 GPIO_ACTIVE_HIGH>,
        <&pro_micro 16 GPIO_ACTIVE_HIGH>,
        <&pro_micro 14 GPIO_ACTIVE_HIGH>,
        <&pro_micro 15 GPIO_ACTIVE_HIGH>,
        <&pro_micro 18 GPIO_ACTIVE_HIGH>,
        <&pro_micro 19 GPIO_ACTIVE_HIGH>;
};
