if SHIELD_LOPRO_COSMOS_CENTRAL

config ZMK_KEYBOARD_NAME
    default "LoPro Cosmos Central"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

# No matrix scanning on the central
config ZMK_KSCAN
    default n

endif
